aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
antlr4-python3-runtime==4.9.3
attrs==26.1.0
certifi==2026.6.17
cffi==2.1.0
curl_cffi==0.15.0
discord-protos==0.0.2
discord.py-self==2.1.0
frozenlist==1.8.0
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
omegaconf==2.3.1
propcache==0.5.2
protobuf==7.35.1
pycparser==3.0
Pygments==2.20.0
PyYAML==6.0.3
rich==15.0.0
typing_extensions==4.16.0
tzlocal==5.4.4
yarl==1.24.2
